<div [class]="'main'" >
  <div [class]="'loginContainer'" *ngIf="!isLoading">
    <h1>Enter your email for token</h1>
    <h3 *ngIf="message" [class]="'message'">{{ message }}</h3>
    <h3 [class]="'error'" [hidden]="!error">
      Something went wrong please try again!
    </h3>
    <div [class]="'line'"></div>
    <form [formGroup]="form">
      <div [class]="'inputContainer'">
        <label for="token">Enter your email</label>
        <div [class]="'passwordSection'">
          <input
            id="token"
            type="text"
            formControlName="email"
            placeholder="Email"
            [class]="'inputi'"
          />
        </div>
      </div>
      <button mat-button [class]="'submitButton'" (click)="send()">Send</button>
    </form>
    <div [class]="'line'"></div>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
