main{
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: red;
    height: 90vh;
    margin-bottom: 150px;
}

.mainNaslov{
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.seeMore{
    font-size: 20px;
    font-weight: bold;
    color: red;
    background-color: none;
    border: 3px solid red;
    padding: 1rem 2rem;
}