.main {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  
}

.mainNaslov {
  margin-top: 5%;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.mainParagraf {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 10px 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.label {
  font-size: 1.5rem;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.input {
  width: 500px;
}

.left,
.right {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  gap: 10px;
}

.seeMore {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #0e4f8b;
  color: #fff;
  cursor: pointer;
}

.buttonRow{
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 90vh;
}

@media (max-width: 1170px){
  .mainNaslov{
    font-size: 2rem;
  }

  .mainParagraf{
    font-size: 1rem;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}

@media (max-width: 768px){
  .mainNaslov{
    font-size: 1.5rem;
  }

  .mainParagraf{
    font-size: 1rem;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .left,
  .right {
    width: 100%;
  }

  .input{
    width: 100%;
  }
}