<div [class]="'main'" >
    <div [class]="'loginContainer'" *ngIf="!isLoading">
      <h1>Enter your token and new password</h1>
      <h3 *ngIf="message" [class]="'message'">{{ message }}</h3>
      <h3 [class]="'error'" [hidden]="!error">
        Something went wrong please try again!
      </h3>
      <div [class]="'line'"></div>
      <form [formGroup]="form">
        <div [class]="'inputContainer'">
          <label for="token">Enter your token</label>
          <div [class]="'passwordSection'">
            <input
              id="token"
              type="text"
              formControlName="token"
              placeholder="Token"
              [class]="'inputi'"
            />
          </div>
        </div>
        <div [class]="'inputContainer'">
            <label for="password">Password</label>
            <div [class]="'passwordSection'">
              <input
                id="password"
                [type]="passwordVisible ? 'text' : 'password'"
                formControlName="password"
                placeholder="Password"
                [class]="'inputi'"
              />
              <mat-icon
                [class]="'icon'"
                (click)="passwordVisible = !passwordVisible"
                >{{ passwordVisible ? "visibility" : "visibility_off" }}</mat-icon
              >
            </div>
          </div>
          <div [class]="'inputContainer'">
            <label for="confirm">Confirm password</label>
            <div [class]="'passwordSection'">
              <input
                id="confirm"
                [type]="passwordVisible2 ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="Confirm password"
                [class]="'inputi'"
              />
              <mat-icon
                [class]="'icon'"
                (click)="passwordVisible2 = !passwordVisible2"
                >{{ passwordVisible2 ? "visibility" : "visibility_off" }}</mat-icon
              >
            </div>
          </div>
        <button mat-button [class]="'submitButton'" (click)="reset()">Reset</button>
      </form>
      <div [class]="'line'"></div>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  